/* Summary styles */
.book-summary {
  background-color: #fff;
}

.book-summary ul.summary li.header {
  color: #009EE0;
  font-weight: 700;
}

.book-summary ul.summary li a, .book-summary ul.summary li span {
  color: #009EE0;
}

.book-summary ul.summary li.active > a {
  color: #009EE0;
}

/* Text styles */
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4 {
  color: #009EE0;
  font-weight: 200;
}

.markdown-section p {
  line-height: 2;
}

.markdown-section img {
  box-shadow: 0 20px 20px rgba(0,0,0,.08);
}

.markdown-section blockquote {
  border-left: 4px solid #009EE0;
}

.markdown-section a {
  color: #009EE0;
  -webkit-box-shadow: inset 0 -2px 0 #009EE0;
  box-shadow: inset 0 -2px 0 #009EE0;
  transition: all ease 0.25s;
  background: transparent;
}

.markdown-section a:hover {
  -webkit-box-shadow: inset 0 20px 0 #009EE0;
  box-shadow: inset 0 20px 0 #009EE0;
  color: #fff;
  background: #009EE0;
}

.book .book-summary li:last-child a.gitbook-link {
  display: none;
}

.book-summary ul.summary li {
  font-weight: 400;
}

.book-header {
  background: #009EE0;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.book-header .btn {
  color: #fff;
  opacity: 0.8;
}

.book-header h1 {
  opacity: 1;
}

.book-header .btn:hover {
  opacity: 1;
  color: #fff;
}

.page-inner {
  padding: 100px 15px 40px 15px;
}

.markdown-section .glossary-term {
  text-decoration: none;
  box-shadow: none;
}

.markdown-section .glossary-term:hover {
  text-decoration: none;
  box-shadow: none;
  color: #009EE0;
}